absl-py==2.5.0
anyio==4.15.1
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
arrow==1.4.0
asttokens==3.0.2
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.15.0
bleach==6.4.0
brotlicffi @ file:///C:/Users/task_178644395772558/croot/brotlicffi_1786444050549/work
certifi @ file:///C:/Users/task_OnZ8_yCfQtaOr_0/croot/certifi_1785412608423/work/certifi
cffi @ file:///C:/Users/task_178669709509663/croot/cffi_1786697233080/work
charset-normalizer @ file:///C:/Users/task_EGOj6_hZRbGlV_0/croot/charset-normalizer_1782917501208/work
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.22.2
filelock @ file:///C:/Users/task_178782639143970/croot/filelock_1787826476148/work
fonttools==4.65.0
fqdn==1.5.1
fsspec==2026.7.0
gmpy2 @ file:///C:/Users/task_CBXjOH3vTLmv8_0/croot/gmpy2_1786359536427/work
grpcio==1.83.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna @ file:///C:/Users/task_178056140106162/croot/idna_1780561468696/work
ipykernel==7.3.0
ipython==8.39.0
ipywidgets==8.1.9
isoduration==20.11.0
jedi==0.20.0
Jinja2 @ file:///C:/Users/task_178782650646034/croot/jinja2_1787826588578/work
joblib==1.6.0
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_builder==1.2.3
jupyter_client==8.10.0
jupyter_core==5.9.1
jupyter_server==2.21.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.17
kiwisolver==1.5.1
lark==1.3.1
Markdown==3.10.3
MarkupSafe @ file:///C:/Users/task_178239072904231/croot/markupsafe_1782390847501/work
matplotlib==3.10.9
matplotlib-inline==0.2.2
mistune==3.3.4
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.11.1
nest-asyncio2==1.7.2
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
notebook==7.6.2
notebook_shim==0.2.4
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp310-cp310-win_amd64.whl#sha256=e824ec3b279f4c5207736c83ac2f2dc79b489e08501a4ea9e3fc178c45db289b
nvidia-ml-py==13.610.43
opencv-python==5.0.0.93
overrides==7.7.0
packaging==26.3
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.7
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs==4.11.8
polars==1.44.2
polars-runtime-32==1.44.2
prometheus_client==0.26.0
prompt_toolkit==3.0.53
protobuf==7.36.1
psutil==7.2.2
pure_eval==0.2.4
pycparser @ file:///C:/Users/task_177495971250430/croot/pycparser_1774959822609/work
Pygments==2.21.0
pyparsing==3.3.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil==2.9.0.post0
python-json-logger==4.2.0
pytz==2026.3.post1
pywinpty==3.0.5
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
pyzmq==27.2.0
referencing==0.37.0
requests @ file:///C:/Users/task_178034870038504/croot/requests_1780348785055/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
Send2Trash==2.1.0
six==1.17.0
soupsieve==2.9.2
stack-data==0.6.3
sympy==1.13.1
tensorboard==2.21.0
tensorboard-data-server==0.7.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.5.1
tomli==2.4.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.5.8
tqdm==4.70.1
traitlets==5.16.1
typing_extensions @ file:///C:/Users/task_EDsWzFOYRby3O_0/croot/typing_extensions_1784101035613/work
tzdata==2026.4
ultralytics==8.4.149
ultralytics-thop==2.1.6
uri-template==1.3.0
urllib3 @ file:///C:/Users/task_177853593812673/croot/urllib3_1778536217005/work
wcwidth==0.8.3
webcolors==25.10.0
webencodings==0.6.1
websocket-client==1.9.2
Werkzeug==3.1.8
widgetsnbextension==4.0.16
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
